@{
    ViewData["Title"] = "Tutorial - Page 2";
}

<h3 class="fw-bold text-dark">Tutorial - Page 2</h3>
<p>Here's the second thing you need to know about my website.</p>

<div class="mt-3">
    <a asp-area="Help" asp-controller="Tutorial" asp-action="Page1" class="btn btn-dark me-2">Prev</a>
    <a asp-area="Help" asp-controller="Tutorial" asp-action="Page3" class="btn btn-dark">Next</a>
</div>
