@{
    ViewData["Title"] = "Tutorial - Page 3";
}

<h3 class="fw-bold text-dark">Tutorial - Page 3</h3>
<p>Here's the third thing you need to know about my website.</p>

<a asp-area="Help" asp-controller="Tutorial" asp-action="Page2" class="btn btn-dark mt-3">Prev</a>
