@section Header {
    <h1>About</h1>
}

<p>Hi, I'm the About Page. Not really much to see here, the Help page has all the work on it.</p>
<br />
<p>I'm required to exist for this project, so I'm just happy to be here.
</p>
