@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4 mb-3">Welcome to Starlogger!</h1>
    <p class="lead mb-4">Log and share your gaming adventures with the world!</p>
    <p>COMING SOON!</p>
    <ul>
        <li>User Accounts</li>
        <li>Profiles</li>
        <li>Game Logging</li>
        <li>...and more!</li>
    </ul>
</div>
