@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 mb-3">Welcome to Starlogger!</h1>
    <p class="lead mb-4">Log and share your gaming adventures with the world!</p>
    <p>COMING SOON!</p>
    <ul>
        <li>User Accounts</li>
        <li>Profiles</li>
        <li>Game Logging</li>
        <li>...and more!</li>
    </ul>
    <p>Star Logger is an application that allows players to keep track of collections of their owned games, mark achievements to
        encourage completion, sort and rate their favorites, and share it online!
    </p>
    <p>You'll also be able to design your own profile, comment on other people's achievements, and make new friends!</p>
</div>
