@{
    ViewData["Title"] = "Home";
}

<div class="text-center mt-5">
    <h1 class="display-5 fw-bold">Welcome to DocStop!</h1>
    <p class="lead">Quick, free appointments for physical and mental health.</p>
    <a asp-controller="Appointments" asp-action="Index" class="btn btn-primary btn-lg mt-3">View Appointments</a>
</div>
