@{
    ViewData["Title"] = "SalesOrder Database Application";
}

<h2>SalesOrder Database Application</h2>
<p>A perpetual SQL Server database program. (PS Mr. G, I tweaked it a bit category wise to make it electronic / game store themed)</p>

<h2>Version01</h2>

<table class="table mt-4" style="background-color: #f8f9fa; border-radius: 0.5rem;">
    <tbody>
        <tr>
            <td><a asp-controller="Product" asp-action="List">Manage Products</a></td>
        </tr>
        <tr><td>Manage Categories</td></tr>
        <tr><td>Manage Vendors</td></tr>
        <tr><td>Manage Customers</td></tr>
        <tr><td>Manage Employees</td></tr>
        <tr><td>Manage Orders</td></tr>
    </tbody>
</table>
